<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVvcID7iq02Qy8mfwir4KzIxiF8g2q6-g</string>
	<key>GCM_SENDER_ID</key>
	<string>58197813367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.parkcheck</string>
	<key>PROJECT_ID</key>
	<string>park-check-1vbeik</string>
	<key>STORAGE_BUCKET</key>
	<string>park-check-1vbeik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58197813367:ios:23d6704c904d74a4853e72</string>
</dict>
</plist>